
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( #1A1D21,  #3e4551);
}

.container {
    margin-top: 50px;
    display: grid;
    width: 70%;
    height: 70%;
}

/*nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    align-items: center;
}

nav .logo {
    width: 70px;
}

nav ul li {
    list-style: none;
    display: flex;
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}*/

.contentmid {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    z-index: 1;
}

.contentmid h1 {
    font-size: 160px;
    color: #FFFFFF;
    font-weight: 600;
    transition: 0.5s;
}

.contentmid h1:hover {
    -webkit-text-stroke: 2px #FFFFFF;
    color: transparent;
}

.contentmid a {
    text-decoration: none;
    display: inline-block;
    color: #FFFFFF;
    font-size: 24px;
    border: 2px solid #FFFFFF;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.back-video {
    grid-column: 1;
    grid-row: 1;
    z-index: 0;
}

@media (min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
        transition: 0.5s;
    }
}

@media (max-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
        transition: 0.5s;
    }
}

/* Footer CSS */

footer {
    color: #FAFAFF;
    font-family: "Poppins", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #3e4551;
}

footer a {
    color: #FAFAFF;
    text-decoration: none;
}

footer a:visited {
    color: #FAFAFF;
    text-decoration: none;  
}

footer a:hover {
    color: #FAFAFF;
    text-decoration: underline;
}

footer hr {
    width: 95%;
    opacity: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-width: 1px;
    border-top: 1px;
}

footer .content {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1.25fr 1fr 1fr 1fr;
}

footer .content div {
    padding-left: 10%;
    padding-right: 10%;
}

footer .content li {
    margin-bottom: 5px;
}

footer .joinus a {
    display: flex;
    justify-content: center;
    opacity: 75%;
    height: 25px;
    width: 175px;
    font-size: 20px;
    color: #FAFAFF;
    background-color: transparent;
    border-color: #FAFAFF;
    border-style: solid;
    border-width: 3px;
    border-radius: 30px;
    background-color: #FFD700;
    color: #30343F;
    text-decoration: none;
    position: relative;
    left: 42%;
  
}

footer .joinus a:hover {
    background-color: #FFC800;
}

footer .copyright {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}